{% extends 'base.html' %}

{% block title %}{{ user.username }} - Dashboard{% endblock title %}

{% block content %}
    <div class='card'>
        <table class= 'table mb-0'>
            <thead>
                <tr>
                <th>Assignment</th>
                <th>Subject</th>
                <th>Submission Date</th>
                <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for assign in assignments %}
                <tr>
                    {% if assign.submission_date < timen %}
                        <td class="align-middle"><del>{{ assign.name }}</del></td>
                        <td class="align-middle"><del>{{ assign.subject }}</del></td>
                        <td class="align-middle"><del>{{ assign.submission_date }}</del></td>
                        {% for remark in remarks %}
                            {% if remark.studentanswer.assignment_id == assignment.id %}
                                <td>{{ remark.remark }}</td>
                            {% endif %}
                        {% empty %}
                            <td>No remarks provided.</td>
                        {% endfor %}
                    {% else %}
                        <td class="align-middle"><a href="{% url 'students:take_assignment' assign.pk %}">{{ assign.name }}</a></td>
                        <td class="align-middle">{{ assign.subject }}</td>
                        <td class="align-middle">{{ assign.submission_date }}</td>
                        {% for remark in remarks %}
                            {% if remark.studentanswer.assignment_id == assignment.id %}
                                <td>{{ remark.remark }}</td>
                            {% endif %}
                        {% empty %}
                            <td>No remarks provided.</td>
                        {% endfor %}
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}