{% extends 'base.html' %}

{% block title %} {{ assignments.name }}{% endblock title %}

{% block content %}
    <h3 class="mb-3">{{ assignments.name }}</h3>
    {% for q in question %}
        {{ q.text }}<br>
    {% endfor %}
    <br>
    {% for qq in questionimages %}
        <img src="/media/{{ qq.question_image }}" class="img-responsive" style="width:32%; height:60%;"/>
    {% empty %}

    {% endfor %}
    <br><br><br>
    <a href="{% url 'students:assignment_list' %}" class="btn btn-primary" role="button">Back</a>
    <a href="{% url 'students:submit_answer' assignments.pk%}" class="btn btn-primary" role="button">Submit Answers</a>
{% endblock content %}